<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banking System</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

<nav>
    <ul class="nav-links">
        <h2 class="brand">THE SPARKS FOUNDATION</h2>
        <li class="link link1"><a href="/">HOME</a></li>
        <li class="link link2"><a href="/view">VIEW CUSTOMERS</a></li>
        <li class="link link3"><a href="/history">TRANSACTION HISTORY</a></li>
    </ul>
</nav>