<%- include("partials/header") %>
    
<div class="container">
    <button class="btn"><a href="https://www.thesparksfoundationsingapore.org/">Click to visit TSF</a></button>
</div>

<div class="content">
    <h2 class="heading">BASIC BANKING SYSTEM</h2>
</div>

<p class="main-content">
    The main objective of this app is to transfer credits between customers and
    to maintain transaction history as well.
</p>

<p class="main-content2">
    Made By : <a href="https://www.linkedin.com/in/varunk26/">Varun Kumar</a>
</p>

<%- include("partials/footer") %>